<nav class="nav-extended">
  <div class="container">
    <div class="nav-wrapper">
      <a (click)="GoToHome()" style="cursor: pointer;" class="brand-logo">Chat app</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="dropdown-button dropdown-trigger" data-target="dropdown">
          <i class="fa fa-globe fa-1x badge"></i>
          <span class="nav-label-icon" *ngIf="unreadNotifications.length > 0">{{ unreadNotifications.length }}</span>
          <ul id="dropdown" class="dropdown-content col s12 collection">
            <li class="collection-item avatar" *ngFor="let data of notifications">
              <img src="http://placehold.it/50x50" alt="image" class="circle" />
              <span class="text" [ngClass]="data.read ? 'isRead' : 'unRead'">{{ data.message }}</span>
              <p class="time">{{ TimeFromNow(data.created) }}</p>
            </li>
            <li *ngIf="notifications.length <= 0">
              <p class="text">No Notification</p>
            </li>
            <p class="secondary-content" *ngIf="notifications.length > 0">
              <a class="markAll" (click)="MarkAll()">Mark All As Read</a>
            </p>
          </ul>
        </li>
        <li class="dropdown-button dropdown-trigger1" data-target="dropdown1">
          <i class="fa fa-bell fa-1x badge"></i>
          <span class="nav-label-icon" *ngIf="msgNumber > 0">{{ msgNumber }}</span>
          <ul id="dropdown1" class="dropdown-content col s12 collection">
            <li class="collection-item avatar" *ngFor="let chat of chatList">
              <img src="http://placehold.it/50x50" alt="image" class="circle" style="margin-top: 6px" />
              <span class="text">
                {{ chat.receiverId.username }}
                <a class="secondary-content">
                  {{ MessageDate(chat.messageId.message[chat.messageId.message.length - 1].createdAt) }}
                </a>
              </span>
              <p style="padding-left: 51px; margin-top: -6px">
                <span
                  [ngClass]="chat.messageId.message[chat.messageId.message.length - 1].isRead ? 'isRead' : 'unRead'"
                >
                  {{ chat.messageId.message[chat.messageId.message.length - 1].body }}
                </span>
                <a class="secondary-content" *ngIf="!chat.messageId.message[chat.messageId.message.length - 1].isRead">
                  <i class="material-icons">brightness_1</i>
                </a>
                <a class="secondary-content" *ngIf="chat.messageId.message[chat.messageId.message.length - 1].isRead">
                  <i class="material-icons">panorama_fish_eye</i>
                </a>
              </p>
            </li>
            <li *ngIf="notifications.length <= 0">
              <p class="text">No Notification</p>
            </li>
            <p class="secondary-content" *ngIf="notifications.length > 0">
              <a class="markAll" (click)="MarkAll()">Mark All As Read</a>
            </p>
          </ul>
        </li>
        <li><a (click)="logout()">Logout</a></li>
      </ul>
    </div>
    <div class="couldBeHide nav-content">
      <div class="nav-div">
        <img
          src="https://avatars2.githubusercontent.com/u/25275856?s=460&v=4"
          alt="image"
          class="circle responsive-img"
        />
      </div>
      <h1 class="profile-name">{{ user.username }}</h1>
      <p class="user-text">
        जीवन में बहुत दर्द है
      </p>
    </div>
  </div>
</nav>
<nav class="couldBeHide">
  <div class="nav-wrapper">
    <form>
      <div class="input-field">
        <input id="search" type="search" required placeholder='Search for Example. "John Deo"' title="Search Friends" />
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
      </div>
    </form>
  </div>
</nav>
