.nav-extended,
.nav-wrapper {
  background-color: purple;
}

.nav-content {
  text-align: center;
  padding: 15px;
}

.nav-div {
  text-align: center;
  img {
    width: 15%;
    border: 8px solid rgb(84, 7, 84);
  }
}

.profile-name {
  margin: 0px;
  font-size: 2rem;
}

.dropdown-content {
  width: 28rem !important;
  padding: 0px !important;
}

.dropdown-content li {
  padding: 15px;
}

.nav-label-icon {
  margin: 0px 0px 15px 5px;
  background: red;
  padding: 2px 8px;
  border-radius: 50%;
}

.time {
  float: right;
  margin-right: 5px !important;
  margin-bottom: 10px !important;
  font-style: italic;
}

.text {
  text-align: center;
  font-size: 18px;
}

.disabled {
  color: #c0c0c0 !important;
}

.unRead {
  color: purple;
  // margin: 0px !important;
  // padding: 0px !important;
  font-weight: bold;
}

.isRead {
  color: purple;
  // margin: 0px !important;
  // padding: 0px !important;
  font-weight: normal;
}
